<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Admin Dashboard for Onyx" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/tailwindcss/output.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body class="mybg-green text-white min-h-screen flex flex-col">
    <%- include("../partials/sidebar") %>

    <main class="flex-1 p-4 md:p-8 lg:ml-64" role="main">
      <header
        class="flex flex-col md:flex-row md:items-center md:justify-between mb-8"
      >
        <h1 class="text-2xl font-semibold text-gray-200">Sales Summary</h1>
        
      </header>
    </main>
  </body>
</html>