name: Build Push and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Login to Docker Hub
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker Image
      - name: Build Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/virtue-app:latest .

      # Push Image
      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/virtue-app:latest

      # SSH into EC2 and Deploy
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker stop virtue-app || true
            docker rm virtue-app || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/virtue-app:latest
            docker run -d \
              --name virtue-app \
              --env-file /home/ubuntu/.env \
              -p 3000:3000 \
              ${{ secrets.DOCKER_USERNAME }}/virtue-app:latest
